@media screen and (max-width:768px) {
    .main{
        height: auto;
    }
    nav{
        height: auto;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        position: static;

    }
    .navbar{
        flex-direction: column;
    }
    .about{
        padding: 50px 30px;
    }
    .about-row{
        grid-template-columns: 1fr;
    }
    .service{
        padding: 50px 30px;
    }
    .service-row{
        grid-template-columns: 1fr;
    }
    .footer{
        padding: 50px 30px;
        grid-template-columns: 1fr;
    }
}